/*Zum Anzeigen der Div-Umrandungen:
div {
border: 2px dashed #f5842e;
} */

/*
GRID LAYOUT:
    - SECTION1
    - SECTION2
    - SECTION3
    - SECTION4
    - SECTION5
    - SECTION6
    - SECTION7
    - FOOTER
*/

.grid-container {
    display: grid;
    grid-template-areas: 
        'section1'
        'section2'
        'section3'
        'section4'
        'footer';
    column-gap: 0px;
    padding: 0px;
}


/* MOBILE VIEW */
    @media only screen and (max-width: 768px) {
            .grid-container {
            display: grid;
            grid-template-areas:
                'section1'
                'section2'
                'section3'
                'section4'
                'footer';
                 }
        }



/* LAYOUT GRID */

.grid_section1 {grid-area: section1;
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.grid_section2 {grid-area: section2;
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background:
    linear-gradient(rgba(6, 8, 22, 0.9), rgba(59, 40, 22, 0.75)),
    url("/html/imageForGames/Animals.jpeg") fixed;
    background-size: cover;
    color: white;
}

.grid_section3 {grid-area: section3;
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
}

.grid_section4 {grid-area: section4;
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
}

.grid_footer {grid-area: footer;
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .grid_section2, .grid_section3, .grid_section4, .grid_section5, .grid_section6, .grid_section7 {
        flex-wrap: wrap;
    }
}