header{ 
    background-color:aliceblue;
    text-align: center;
}

header h1{
    color:rgb(0, 136, 255);
    font-size: 60px;
}

main{
    background-color: aliceblue;
    text-align: center;
}


footer{
    background-color: black;
    text-align: center;
    margin: 20px 0px;
    padding: 20px 0;
}

footer a{
    text-decoration: none;
    color: white;
    background-color: grey;
    padding: 6px;
    border-top: 10px;
}

footer p{
    color: white;
}